# Ignore Gradle files 
.gradle/ 
build/ 
**/build/ 
**/out/ 
local.properties 

# Ignore IntelliJ / Android Studio settings 
.idea/ 
*.iml 
/.cxx 
/.externalNativeBuild 
.vscode/ 
captures/ 

# Ignore dependency caches 
**/.gradle 
**/node_modules